<ion-header class="ion-no-border header-bg">
  <ion-toolbar>
    <ion-title class="primary-color-04 font-koulen"> CATMOVIES </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div id="container" class="center-flex">
    <ion-img
      src="../../assets/images/cat.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    >
    </ion-img>
    <p class="font-lexend width-20ch pb-1">
      “Bem vindo, meow! É só clicar e ser feliz.”
    </p>

    <ion-button class="font-lexend button" (click)="goToSuggestion()">
      ASSISTIR, meow
    </ion-button>
  </div>
</ion-content>
