<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-custom">
    <ion-title class="logo">CATMOVIES</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button class="menu-icon" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-content">
  <div class="center-content">
    <img src="assets/icon/gatinhoicon.png" alt="Gatinho com pipoca" class="cat-img">
    <p class="welcome-text">“Bem vindo, meow! É só clicar e ser feliz.”</p>
    <ion-button expand="block" shape="round" class="start-button">
      ASSISTIR, MEOW
    </ion-button>
  </div>
</ion-content>
